In [3]:
# My first Program
print("hello world")

hello world

In [67]:
#English sentence with understandable semantics but incorrect syntax
print("they am the python developer")

#English sentence which has correct syntax but has semantic errors
print("laptop writes the code itself ")

they am the python developer
laptop writes the code itself

In [18]:
1 + 2

3

In [19]:
2 ** 3

8

In [20]:
(1 + 2) * 3

9

In [15]:
#Type 1 2 without the operator shows error
1 2

SyntaxError: invalid syntax (530143727.py, line 2)

In [16]:
# cheese without the quotation marks shows error
print(cheese)

NameError: name 'cheese' is not defined

In [13]:
# Here,automatically shows the result
6 + 4 * 9

42

In [14]:
# Print shows the result
print(6 + 4 * 9)

42

In [68]:
a = "All"
b = "work"
c = "and"
d = "no"
e = "play"
f = "makes"
g = "Jack"
h = "a"
i = "dull"
j = "boy"
print(a +' '+ b +' '+ c)

All work and

In [29]:
# Calculating the Amount
p = 10000
n = 12
r = 8/100
t = int(input("the number of years to compund"))

a = p *(1 + r/n)**n*t 
print(a)

the number of years to compund 4

43319.98027230039

In [17]:
# Calculating the time 
currentTime = int(input("Enter the current Time "))
noOfHours = int(input("Number of hours to wait (in hrs)"))
a = noOfHours % 24
if(a>24):
    a = a - 24

print(a + currentTime)

Enter the current Time  3
Number of hours to wait (in hrs) 234

21

In [62]:
months=['January','February','March','April']
for item in months:
    print(f"One of the months of the year is {item}")

One of the months of the year is January
One of the months of the year is February
One of the months of the year is March
One of the months of the year is April

In [9]:
xs = [12, 10, 32, 3, 66, 17, 42, 99, 20]
total = 0
multiply = 1

for item in xs:
    print(f"number: {item}")
    print(f"square: {item**2}")
    total = total + item
    multiply = multiply * item
    
print(f" Total: {total}")
print(f" multiply: {multiply}")

number: 12
square: 144
number: 10
square: 100
number: 32
square: 1024
number: 3
square: 9
number: 66
square: 4356
number: 17
square: 289
number: 42
square: 1764
number: 99
square: 9801
number: 20
square: 400
 Total: 301
 multiply: 1074879590400

In [12]:
def amount(p,r,n,t):
    a = p *(1 + r/n)**n*t 
    return a
principle = float(input("Enter the amout to invest"))
amount(principle,3,4,1)

Enter the amout to invest 1000

9378.90625

In [15]:
# Calculate the Area of Circle
def area_of_circle(r):
    pi = 22/7
    return pi*r**2
r= float(input("Enter the radious of the circle"))
area_of_circle(r)

Enter the radious of the circle 7

154.0

In [23]:
days = ["Sunday" , "Monday" ," Tuesday ", "Wednesday","Thursday","Friday","Saturday"]

def day(number):
    return days[number]

number = int(input("Enter the day of the week"))
if(number > 6):
    number = int(input("Enter the day of the week in range 0-6"))
day(number)

Enter the day of the week 7
Enter the day of the week in range 0-6 2

' Tuesday '

In [72]:
days = ["Sunday" , "Monday" ," Tuesday ", "Wednesday","Thursday","Friday","Saturday"]

def day(number , no_of_sleep):
    returnDate = no_of_sleep % 7 + number
    if(returnDate > 7):
        returnDate -= 7
    return days[returnDate]

number = int(input("Enter the day of the week"))
if(number < 0 or number > 6):
    number = int(input("Enter the day of the week in range 0-6"))
no_of_sleep = int(input("Enter the no of sleep"))

day(number , no_of_sleep)

Enter the day of the week -1
Enter the no of sleep 8
Enter the day of the week in range 0-6 2

'Wednesday'

In [70]:
def grade(marks):
    if(marks >= 75):
        return "First"
    elif(marks <= 75 and marks > 70):
        return "Upper Second"
    elif(marks <= 70 and marks > 60):
        return "Second"
    elif(marks <= 60 and marks > 50):
        return "Third"
    elif(marks <= 50 and marks > 45):
        return "F1 Supp"
    elif(marks <= 45 and marks > 40):
        return "F2"
    else:
        return "F3"
        
xs = [83, 75, 74.9, 70, 69.9, 65, 60, 59.9, 55, 50, 49.9, 45, 44.9, 40, 39.9, 2, 0]     
for marks in xs:
    print(f"marks {marks} => Grade: {grade(marks)}")

marks 83 => Grade: First
marks 75 => Grade: First
marks 74.9 => Grade: Upper Second
marks 70 => Grade: Second
marks 69.9 => Grade: Second
marks 65 => Grade: Second
marks 60 => Grade: Third
marks 59.9 => Grade: Third
marks 55 => Grade: Third
marks 50 => Grade: F1 Supp
marks 49.9 => Grade: F1 Supp
marks 45 => Grade: F2
marks 44.9 => Grade: F2
marks 40 => Grade: F3
marks 39.9 => Grade: F3
marks 2 => Grade: F3
marks 0 => Grade: F3

In [54]:
def find_hypot(p,b):
    return (p**2 + b**2)**0.5
p = float(input("Enter the perpendicular"))
b = float(input("Enter the base"))
find_hypot(p,b)

Enter the perpendicular 3
Enter the base 4

5.0

In [66]:
def is_rightangled(a,b,c):
    if(abs(a**2 + b**2 - c**2) < 0.000001 or abs(a**2 + c**2 - b**2) < 0.000001 or abs(c**2 + b**2 - a**2) < 0.000001 ):
        return "true"
    else:
        return "false"
a = float(input("Enter the side a"))
b = float(input("Enter the side b"))
c = float(input("Enter the side c"))
is_rightangled(a,b,c)

Enter the side a 5
Enter the side b 4
Enter the side c 3

'true'