In [ ]:
# firstly keeping the days in the list then making the function day to pass the argument name and delta then using the loop we find the item then comparing the item with the input name to find the indexes then adding the indexes and delta  and calculating the remainder using mod then return the days having that delta in list

In [64]:
days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
def day(name , delta):
    for item in days:
        if item == name:
            indexs = days.index(item)
            delta = (indexs + delta) % 7 
            return days[delta]
    return None
        
name = str(input("Today is"))
delta = int(input("leave time"))
result = day(name , delta)
print(result)

Today is Sunday
leave time -9

Friday

In [ ]:
#Similar to tha above problem,here making the directories having the months and their respective days then making the funtion by passing the month as argument,then using the loop we find the item then compare with the input month then we get the days by using .get from directories and return the days

In [63]:
month_days = {"January": 31,"February": 28,"March": 31,"April": 30,"May": 31,"June": 30,"July": 31,"August": 31,"September": 30,"October": 31,"November": 30,"December": 31}
def days_in_month(month):
    for item in month_days:
        if item == month:
            days = month_days.get(item)
            return days
    return None
month = str(input("Enter the month"))
days_in_month(month)

Enter the month February

28

In [69]:
##Iteration

In [ ]:
# To find the odd numbers in the list ,Created the list and function then initilaization the count to 0 and appling for loop in list then checking where the number is mod with 2 so in case of the remainder the count increases by 1

In [74]:
numbers= [1,34,56,89,77,56]
def count_numbers(lists):
    count = 0
    for item in numbers:
        if item % 2 != 0:
            count +=1 
    return count
    
print(count_numbers(numbers))

3

In [ ]:
# To find the sum of even Number ,Created the list and function then initialized the sum to 0 then applied the loop in the list then checking the item has remainder or not ,if it dont have remainder then sum the item with the existing sum then return the sum

In [76]:
numbers= [1,34,56,89,77,56]
def sum_even_numbers(lists):
    summ = 0
    for item in numbers:
        if item % 2 == 0:
            summ += item 
    return summ
print(sum_even_numbers(numbers))

146

In [ ]:
# similar to above code just condition is different here, Checked whether the number is less than 0

In [77]:
numbers= [-1,34,56,89,77,-56]
def sum_negative_numbers(lists):
    summ = 0
    for item in numbers:
        if item < 0:
            summ += item 
    return summ
print(sum_negative_numbers(numbers))

-57

In [ ]:
#Similiar to above code ,here getting the length of the words using len and increasing the count having the lenth 5

In [82]:
words = ["apple", "banana", "cherry", "date", "elephant", "fig", "grape"]

def count_words(words):
    count = 0
    for item in words:
        if len(item) == 5:
            count += 1 
    return count
print(count_words(words))

2

In [ ]:
# Here firstly we initialized the summ to 0 and found_even to false then we check the condition for the first even number that has no remainder and found_even is false ,after we get that condtion we change the found_even to true then continue the process and return the sum

In [85]:
numbers= [1,34,56,89,77,56]
def sum_even_numbers(lists):
    found_even = False
    summ = 0
    for item in numbers:
        if item % 2 == 0 and found_even == False:
            found_even = True
            continue
        else:
            summ += item
    return summ
print(sum_even_numbers(numbers))

279

In [ ]:
#here counting the list upto the sam occur ,sice we have to provide the first sam occur count so initilized with count to 0 then loop in word, then increasing the count by 1 then checking the condition if item is sam or not ,if it is then  break and return the count

In [113]:
words = ["alice", "bob", "sam", "dave", "sam", "ellen"]
def list_word(lists):
    count = 0
    for item in words:
        count += 1
        if item  == 'sam' :
            break
    return count
print(list_word(words))

3

In [ ]:
#string

In [ ]:
#using enumertae to get the index of word

In [93]:
fruit = "banana"
list(enumerate(fruit))

[(0, 'b'), (1, 'a'), (2, 'n'), (3, 'a'), (4, 'n'), (5, 'a')]

In [98]:
fruit = "banana"
len(fruit)

6

In [ ]:
#here it provides the word as per the start index to the end index

In [99]:
s = "Pirates of the Caribbean"
print(s[0:7])
print(s[11:14])
print(s[15:24])
friends = ["Joe", "Zoe", "Brad", "Angelina", "Zuki", "Thandi", "Paris"]
print(friends[2:4])

Pirates
the
Caribbean
['Brad', 'Angelina']

In [104]:
fruit = "banana"
#fruit[:3] -->ban
#fruit[3:] -->ana
fruit[3:999]

'ana'

In [ ]:
#splits the single string in multiple string and keep in list

In [114]:
ss = "Well I never did said Alice"
ss.split()

['Well', 'I', 'never', 'did', 'said', 'Alice']

In [ ]:
#create the function to provide the reverse of the word by using [::-1]

In [116]:
def reverse_string(word):
    return word[::-1]
word = str(input("Enter the word"))
reverse_string(word)

Enter the word word

'drow'

In [ ]:
# To remove the letter in the word fist we make the function with two argument i.e letter and word then initialize result as empty string then we loop the word for 0 to the length of word then Check the condition whetter the letter equal to word[i] then we continue if match else we store in result and return it

In [119]:
def remove_Letter(letter,word):
    result = ''
    for i in range(len(word)):
        if letter == word[i]:
            continue
        else:
            result += word[i]
    return result
            
word = str(input("Enter the word"))
letter=str(input("letter to remove from word"))
remove_Letter(letter, word)

Enter the word word
letter to remove from word d

'wor'

In [ ]:
# here to check whether the word is palindrome or not ,we first get the reverse string then comparre with the original string

In [123]:
def palindromes(word):
    reverse_string = word[::-1]
    if(word == reverse_string):
        return True
    else:
        return False
word = str(input("Enter the word"))
palindromes(word)

Enter the word weew

True

In [ ]:
#to count the similar letter in the two string ,make the function with the two argument and initialize the count to 0 then loop for both the string and checking if match count increase and returned

In [125]:
def count_Letter(letter,word):
    count = 0
    for i in range(len(word)):
        for j in range(len(letter)):
            if letter[j] == word[i]:
                count +=1
    return count
            
word = str(input("Enter the word"))
letter=str(input("letter to remove from word"))
count_Letter(letter, word)

Enter the word word
letter to remove from word ro

2

In [130]:
##Tuples -->known for grouping data and used to swap th data and return the two value in the function

In [137]:
b = ("Bob", 19, "CS")
(name, age, studies) = b
name,age

('Bob', 19)

In [193]:
a = 4
b = 5
(a,b) = (b,a)
a,b

(5, 4)

In [194]:
##list -->Lists are mutable

In [140]:
students = [
("John", ["CompSci", "Physics"]),
("Vusi", ["Maths", "CompSci", "Stats"]),
("Jess", ["CompSci", "Accounting", "Economics", "Management"]),
("Sarah", ["InfSys", "Accounting", "Economics", "CommLaw"]),
("Zuki", ["Sociology", "Economics", "Law", "Stats", "Music"])]

# Count how many students are taking CompSci
counter = 0
for (name, subjects) in students:
    if "CompSci" in subjects:
        counter += 1
print("The number of students taking CompSci is", counter)

The number of students taking CompSci is 3

In [145]:
## list Slices
a_list = ["a", "b", "c", "d", "e", "f"]
#a_list[:] --> ['a', 'b', 'c', 'd', 'e', 'f']
#a_list[3:] -->['d', 'e', 'f']
#a_list[:4] --> ['a', 'b', 'c', 'd']
a_list[1:3]

['b', 'c']

In [147]:
## list deletion
a = ["one", "two", "three"]
del a[1]
a

['one', 'three']

In [150]:
## cloning list
a = [1, 2, 3]
b = a[:]
a,b

([1, 2, 3], [1, 2, 3])

In [ ]:
#List methods

In [328]:
#Create an empty list and use .append() to add five elements to it one by one.
mylist = []
mylist.append(5)
mylist.append(27)
mylist.append(3)
mylist.append(12)
mylist

[5, 27, 3, 12]

In [176]:
mylist.insert(1, 12) # Insert 12 at pos 1, shift other items up
mylist

[5, 12, 27, 3, 12]

In [177]:
mylist.count(12) # How many times is 12 in mylist?

2

In [178]:
mylist.extend([5, 9, 5, 11]) # Put whole list onto end of mylist
mylist

[5, 12, 27, 3, 12, 5, 9, 5, 11]

In [179]:
mylist.index(9) # Find index of first 9 in mylist

6

In [180]:
mylist.reverse()
mylist

[11, 5, 9, 5, 12, 3, 27, 12, 5]

In [181]:
mylist.sort()
mylist

[3, 5, 5, 5, 9, 11, 12, 12, 27]

In [190]:
#nested List
nested = ["hello", 2.0, 5, [10, 20]]
nested[3][0] ,nested[3][1]

(10, 20)

In [ ]:
# Here, 10 is start ,0 is end and -2 is step

In [184]:
list(range(10, 0, -2))

[10, 8, 6, 4, 2]

In [191]:
#Dictories

In [219]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)
print(thisdict["brand"])
print(len(thisdict))

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}
Ford
4

In [327]:
# Loop through the dictionary and print all keys.
#Loop through the dictionary and print all values.
# Loop through both keys and values in the dictionary using .items().
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
for key in thisdict:
    print("key:",key)
    
for values in thisdict.values():
    print("values:",values)
    
for key ,values in thisdict.items():
    print(key ,':', values)

key: brand
key: electric
key: year
key: colors
values: Ford
values: False
values: 1964
values: ['red', 'white', 'blue']
brand : Ford
electric : False
year : 1964
colors : ['red', 'white', 'blue']

In [246]:
#add new items in dictionaries
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
thisdict["type"] = "car"
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue'], 'type': 'car'}

In [245]:
#delete the item
thisdict.pop("brand")
print(thisdict)

{'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue'], 'type': 'car'}

In [259]:
#Create a list of five fruits. Print the third fruit.
fruits = ['Apple', 'Banana','grape','litchy','pear']
fruits[2]

'grape'

In [260]:
# Add "mango" to the end of a list
fruits.append("mango")
print(fruits)

['Apple', 'Banana', 'grape', 'litchy', 'pear', 'mango']

In [261]:
#Insert "lemon" at second position in a list of fruits
fruits[1] = 'lemon'
print(fruits)

['Apple', 'lemon', 'grape', 'litchy', 'pear', 'mango']

In [262]:
#Remove the first item from a list using `pop()
fruits.pop(0)

'Apple'

In [270]:
# Check if "banana" is in the list. Print a message accordingly
fruits = ['Apple', 'grape', 'litchy', 'pear']

def check_banana(fruit_list):
    for item in fruit_list:
        if item == 'Banana':
            return True
    return False

check_banana(fruits)

False

In [272]:
#Create a list with numbers from 1 to 10. Print the first and last number
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[0])
print(numbers[len(numbers)-1])

1
10

In [276]:
# here,remove help to delete the number by accessing direct number to delete 
numbers = [10, 20, 30, 20, 40]
numbers.remove(20)  
print(numbers)

[10, 30, 20, 40]

In [280]:
# here,pop help to delete the number by accessing index to delete 
numbers = [10, 20, 30,20, 40]
removed = numbers.pop(2)
print(numbers)

[10, 20, 20, 40]

In [281]:
numbers[9]

IndexError: list index out of range

In [283]:
fruits = ['Apple', 'Banana','grape','litchy','pear']
for item in fruits:
    print(item)

Apple
Banana
grape
litchy
pear

In [287]:
#Create a list with random numbers. Sort a list of numbers in ascending and descending order. And, Use slicing to get the first three items from a sorted list
numbers=[1,34,23,45,65,78,6,44]
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)

[1, 6, 23, 34, 44, 45, 65, 78]
[78, 65, 45, 44, 34, 23, 6, 1]

In [290]:
#print the only top 3 item form the list
numbers[:3]

[78, 65, 45]

In [ ]:
#here to know the repetation of the input string first w emake the function passing the letter argument and intialize count to 0 then loop in alphabets to get the alphabets and comparing it with the input then if matched then count increse and then if the count is 0 then letter doesnot exist else print the count

In [291]:
alphabets = ["a", "n", "y", "a", "w", "y", "a", "w", "b", "z", "c", "a"]

def count_alphabets(letter):
    count = 0
    for char in alphabets:
        if char == letter:
            count += 1
    if(count == 0):
        return "letter doesnot exist"
    else:
        return count
letter = str(input("enter the letter"))
count_alphabets(letter)

enter the letter a

4

In [326]:
# find max and min 
numbers = [12, 45, 2, 99, 23, 7, 56]

max_value = max(numbers)
min_value = min(numbers)
print(max_value)
print(min_value)

99
2

In [320]:
# Create a dictionary called student with the keys: 'name', 'age', and 'grade'. Fill in your own values.
# Print the value of the 'grade' key from the student dictionary.
user = { 'name':'Ram','age':25,'grade':12}
print(user)
user['grade']

{'name': 'Ram', 'age': 25, 'grade': 12}

12

In [321]:
# Add a new key 'subject' with the value 'Math' to the student dictionary.

user['suject'] = 'maths'
print(user)

{'name': 'Ram', 'age': 25, 'grade': 12, 'suject': 'maths'}

In [322]:
#Change the 'age' value to 20.
user['age']=20
print(user)

{'name': 'Ram', 'age': 20, 'grade': 12, 'suject': 'maths'}

In [323]:
#5. Delete the 'subject' key from the dictionary.

user.pop('suject')
print(user)

{'name': 'Ram', 'age': 20, 'grade': 12}

In [324]:
#6. Use len() to find the number of key-value pairs in the dictionary.
len(user)

3

In [325]:
#7. Check if the key 'name' exists in the dictionary.
user = { 'name':'Ram','age':25,'grade':12}
if 'name' in user:
    print("name exist")
else:
    print("name doesnot exist")

name exist

In [332]:
#Create a list of 10 numbers. Print only the numbers at even indexes.
numbers=[10,34,45,44,5,4,2,5,5,3]
for i in range(len(numbers)):
    if(i%2==0):
        print(numbers[i])

10
45
5
2
5

In [336]:
#Create a list of 10 random numbers and print only the numbers greater than 50.
numbers=[10,34,45,544,50,4,2,57,52,3,56,89]
for item in numbers:
    if(item > 50):
        print(item)

544
57
52
56
89

In [339]:
#Use .extend() to add all items from one list into another.
list1 = [1,2,3,4]
list2 = [23,45,54,76]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 23, 45, 54, 76]

In [341]:
#Write a function that returns the largest number in a list.
numbers=[10,34,45,544,50,4,2,57,52,3,56,89]
def maximum(number):
    return max(number)
maximum(numbers)

544

In [346]:
#Given a list of ages [10, 40, 17, 18, 20, 13, 25, 30], print “adult” if age is 18 or more, else print “minor”.
ages=[10, 40, 17, 18, 20, 13, 25, 30]
for item in ages:
    if(item >= 18):
        print('adult')
    else:
        print('minor')

minor
adult
minor
adult
adult
minor
adult
adult

In [ ]:
#in this firstly we initiaxe the sum to 0 then loop in grades to get the tota sum of marks then we calculate the average and initialize the count to 0 the again loop in gardes to check wheter the marks in greater than averageand if true then count is increased

In [352]:
#Given a list of grades, calculate the average and count how many grades are above the average.
grades =[50,45,56,78,45,67,98,67,45]
sum = 0
for item in grades:
    sum += item 
average = sum/len(grades)
print(average)
count = 0
for item in grades:
    if item > average:
        count +=1
print(count)

61.22222222222222
4